

.currency-flag{
  border-radius: 5px;
  height: 32px;
  width: 48px;
  scale: 60%;
  outline: 1.5px solid #eaeaea;
}

.dropdown-item{
  padding-inline: 8px;
  display: flex;
  align-items: center;

  div{
    font-weight: 400;
  }

}

.currency-name{
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 180px;
}

.dropdown{

  .currency-name{
    padding-right: 23px;
    max-width: 196px;
  }

  .input-search > input{
    padding-left: 15px;
    padding-right: 35px;

  }

  .info-dropdown-element{
    padding-inline: 15px;
  }

  width: 260px;

  .currency-flag{
    scale: 70%;
  }

  .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    width: 100%;
  }

  .btn, .input-search {
    white-space: nowrap;
    align-items: center;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    >*{
      float: left;
      box-sizing: border-box;
      justify-content: space-between;
      text-align: left;
      margin-block: auto;
    }



    a, i{
      position: absolute;
      right: 0;
      margin-left: auto;
      margin-right: 10px;
    }
    a{
      color: rgba(82, 82, 82, 1);
      &:hover{
        color:  rgb(153, 153, 245);
      }
    }

  }







}
