

.dropdown{



  img{
    border-radius: 5px;
    scale: 80%;
  }
  li{
    img{
      scale: 60%;
    }
  }

  .dropdown-menu {
    /*  max-height: 280px;
       width: auto;
   max-height: 280px;
       overflow:  auto;
       -ms-overflow-style: none; !* for Internet Explorer, Edge *!
        scrollbar-width: none;
       */

/*    transform: translate(0px, 54px);
    overflow:  auto;
    overflow-y: scroll;*/
  }

  .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    width: 100%;
  }



  .btn, input {

    text-align: left;
    justify-content: center;
    width: 100%;
    padding: 8px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: white;
    -webkit-box-shadow: 0px 0px 19px -12px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 19px -12px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 19px -12px rgba(0, 0, 0, 0.5);
    border: 1px solid #d2d2d2;

    &:hover {
      background-color: #ececec;
      border: 2px solid rgb(153, 153, 245);
    }
  }
    .btn {
      white-space: nowrap;
      align-items: center;
      display: flex;
      text-align: left;
      justify-content: flex-start;
      >*{
        float: left;
        box-sizing: border-box;
        justify-content: space-between;
        text-align: left;
        margin-block: auto;
      }
      i{
          position: absolute;

          right: 0;
          margin-left: auto;
          margin-right: 10px;

      }
    }







}
