$small-width: 480px;
$medium-width: 768px;
$large-width: 1024px;
$extra-large-width: 1200px;

@mixin extra-small {
  @media (max-width: #{$small-width - 1px}) {
    @content;
  }
}

@mixin small-down {
  @media (max-width: #{$medium-width - 1px}) {
    @content;
  }
}

@mixin small-only {
  @media (min-width: #{$small-width}) and (max-width: #{$medium-width - 1px}) {
    @content;
  }
}

@mixin small-up {
  @media (min-width: #{$small-width}) {
    @content;
  }
}

@mixin medium-only {
  @media (min-width: #{$medium-width}) and (max-width: #{$large-width - 1px}) {
    @content;
  }
}

@mixin medium-up {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin large-only {
  @media (min-width: #{$large-width}) and (max-width: #{$extra-large-width - 1px}) {
    @content;
  }
}

@mixin large-up {
  @media (min-width: #{$large-width}) {
    @content;
  }
}

@mixin extra-large {
  @media (min-width: #{$extra-large-width}) {
    @content;
  }
}
