
<div class="container">
  <div class="card">
    <form name="form-exchange" class="form-currency" #formExchange (window:resize)="windowResize()">

    <label>Amount</label>

      <div>
      <div class="input-amount input-field">
        <span class="prefix">{{from_symbol}}</span>
      <input required  type="number" [(ngModel)]="amount_value" name="amount" (focusout)="focusOutInput()" #amount_input placeholder="Amount" step="0.01" >
      </div>

      </div>
    <label>From</label>


    <app-currency-selector #from [selectorId]="'from'" [changeCurrency]="selectFrom"></app-currency-selector>

    <div></div>

        <button class="switch-btn" (click)="switchCurrencies()">
          <i class="bi bi-arrow-left-right"></i>
        </button>

    <label>To</label>


      <app-currency-selector #to [selectorId]="'to'" [changeCurrency]="selectTo"></app-currency-selector>
    </form>

    <div class="submit-btn" [style.width.px]="formExchange.offsetWidth" #submitBtn>
      <button>Convert</button>
    </div>
  </div>
</div>


