
<div class="container">
  <div class="card">
    <div class="form-currency">
    <label>Amount</label>

    <div class="dropdown">
      <div class="" data-bs-toggle="dropdown" aria-expanded="false">
      <button *ngIf="edited" class="btn" (click)="dropClick()" type="button">
        <img [src]="'assets/flags/'+ selectedCurrency.flag"/>
        <div>{{selectedCurrency.name}} - {{selectedCurrency.full_name}}</div>
        <i class="toggle bi bi-caret-down"></i>
      </button>

      <input *ngIf="!edited" (focusout)="deselectSearch()"  [(ngModel)]="findCurrency" (ngModelChange)="valueFinding()" type="text" autofocus #search_input >
      </div>
        <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenuButton">
          <li *ngFor="let currency of currencies" #currenciesRef>
         <app-currencies [currency]="currency" [selectCurrency]="selectCurrency"></app-currencies>
        </li>
      </ul>
    </div>

    <label>From</label>

    <div class="dropdown">
      <div class="" data-bs-toggle="dropdown" aria-expanded="false">
        <button *ngIf="edited" class="btn" (click)="dropClick()" type="button">
          <img [src]="'assets/flags/'+ selectedCurrency.flag"/>
          <div>{{selectedCurrency.name}} - {{selectedCurrency.full_name}}</div>
          <i class="toggle bi bi-caret-down"></i>
        </button>

        <input *ngIf="!edited" (focusout)="deselectSearch()"  [(ngModel)]="findCurrency" (ngModelChange)="valueFinding()" type="text" autofocus #search_input >
      </div>
      <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenuButton">
        <li *ngFor="let currency of currencies" #currenciesRef>
          <app-currencies [currency]="currency" [selectCurrency]="selectCurrency"></app-currencies>
        </li>
      </ul>
    </div>

    <div></div>
    <div>Reverse</div>

    <label>To</label>

    <div class="dropdown">
      <div class="" data-bs-toggle="dropdown" aria-expanded="false">
        <button *ngIf="edited" class="btn" (click)="dropClick()" type="button">
          <img [src]="'assets/flags/'+ selectedCurrency.flag"/>
          <div>{{selectedCurrency.name}} - {{selectedCurrency.full_name}}</div>
          <i class="toggle bi bi-caret-down"></i>
        </button>

        <input *ngIf="!edited" (focusout)="deselectSearch()"  [(ngModel)]="findCurrency" (ngModelChange)="valueFinding()" type="text" autofocus #search_input >
      </div>
      <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenuButton">
        <li *ngFor="let currency of currencies" #currenciesRef>
          <app-currencies [currency]="currency" [selectCurrency]="selectCurrency"></app-currencies>
        </li>
      </ul>
    </div>
    </div>
  </div>
</div>


